{% extends 'base.html.twig' %}

{% block title %} Training Diary {% endblock %}

{% block body %}
    <br>
    <h1> Your personal Training Diary </h1>

    <h4> Hello, {{ app.user.username }}</h4>


    <br>
    <br>
    {% if day is defined %}

    <div class="title">
        <h3>Today workout ({{ day }})</h3>
    </div>

    {% endif %}
    

    {% if message is defined %}

    {% if message.error is defined %}

     <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{ message.error }}</strong>
    </div>

    {% endif %}

    {% if message.correct is defined %}

    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{ message.correct }}</strong>
    </div>

    {% endif %}

    {% if message.info is defined %}

    <form method="POST" action="/login/{}/new">
        <div class="alert alert-dismissible alert-light">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <button type="submit" class="btn nav-link">{{ message.info }}</button>
        </div>
    </form>

    {% endif %}

    {% endif %}
    <br>

    {% if plan %}
        
        <h2>{{ plan.name }}</h2>

        <table id="Exercises" class="table table-striped">
            <thead>
                <tr>
                    <th>Exercise</th>
                    <th>Weight(in {{weightUnit}})</th>
                    <th>Sets</th>
                    <th>reps</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% if progres is defined %}
                {% for item in progres %}
                <div id="edititem">
                    <tr>
                        <td> {{ item.exercise }} </td>
                        <td> {{ item.weight }} {{ weightUnit }} </td>
                        <td> {{ item.sets }} </td>
                        <td> {{ item.reps }} </td>
                        <td>
                            <div class="actions">
                                <div style="float: left;">
                                    <form method="POST" action="/login/{}">
                                        <input type="submit" class="btn btn-success" value="Similar">
                                    </form>
                                </div>
                                <div style="float: left;">
                                    <form method="POST" action="/login/{}/{{ item.id }}">
                                        <input type="hidden" name="_method" value="DELETE"/>
                                        <input type="submit" class="btn btn-danger" value="Delete">
                                    </form>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        </td>
                    </tr>
                </div>
                {% endfor %}
                {% elseif progresConverted is defined %}
                {% for item in progresConverted %}
                <div id="edititem">
                    <tr>
                        <td> {{ item.exercise }} </td>
                        <td> {{ item.weight }} {{ weightUnit }} </td>
                        <td> {{ item.sets }} </td>
                        <td> {{ item.reps }} </td>
                        <td>
                            <div class="actions">
                                <div style="float: left;">
                                    <form method="POST" action="/login/{}/">
                                        <input type="submit" class="btn btn-success" value="Similar">
                                    </form>
                                </div>
                                <div style="float: left;">
                                    <form method="POST" action="/login/{}/{{ item.id }}">
                                        <input type="hidden" name="_method" value="DELETE"/>
                                        <input type="submit" class="btn btn-danger" value="Delete">
                                    </form>
                                </div>
                                <div style="clear: both;">
                            </div>
                        </td>
                    </tr>
                </div>
                {% endfor %}

                <form method="POST" action="/login/{}/">
                    <input type="submit" class="btn btn-success" value="Similar">
                </form>

                {% endif %}

                {% if exercises is defined %}
                {% for exercise in exercises %}
                    <tr>
                        <td> {{ exercise }}</td>
                        <form method="POST" id="form"."{{ loop.index0 }}" action="/login/{}">

                            <td>
                                <div class="row">
                                    <div class="col-md-5">
                                        <input type="number" class="form-control" name="weight" min="1" max="600" placeholder="0" id="weight" />
                                    </div> 
                                </div>
                            </td>
                            
                            <td>
                                <div class="row">
                                    <div class="col-md-5">
                                        <input type="number" class="form-control" name="sets" min="1" max="30" placeholder="0" id="sets" />
                                    </div> 
                                </div>
                            </td>

                            <td>
                                <div class="row">
                                    <div class="col-md-5">
                                        <input type="number" class="form-control" name="reps" min="1" max="600" placeholder="0" id="reps" />
                                    </div> 
                                </div>
                            </td>

                            <td> 
                                <input type="hidden" name="exercise" id="exercise" value="{{ exercise }}"/>
                                <input type="submit" class="btn btn-success" value="Setup"/>
                            </td>
                        </form>
                    </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>

        <form method="POST" action="/login/{}/">
            <input type="submit" class="btn btn-success" value="New exercise">
        </form>
    {% endif %}

    <br><br><br><br><br>

    {% if homepageSettings is defined %}

    {% if homepageSettings.daysEarlier > 0 %}

        {% if workouts is defined %}
            <div class="previous_workouts">

                {% if homepageSettings.daysEarlier == 1 %}
                
                <h4>Previous Workouts(one day)</h4>

                {% else %}

                <h4>Previous Workouts({{ homepageSettings.daysEarlier }} days)</h4>

                {% endif %}

                <table id="workouts" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date(day)</th>
                            <th>Exercise</th>
                            <th>Weight</th>
                            <th>Sets</th>
                            <th>Reps</th>
                            <th>Volume</th>
                        </tr>
                    </thead>
                    
                {% for workout in workouts %}
                    
                    <tbody>
                        <tr>
                            <td>{{ workout.date|date("Y-m-d") }}({{ workout.day }})</td>
                            <td>{{ workout.exercise }}</td>
                            <td>{{ workout.weight }} {{ weightUnit }}</td>
                            <td>{{ workout.sets }}</td>
                            <td>{{ workout.reps }}</td>
                            <td>{{ workout.volume }} {{ weightUnit }}</td>
                        </tr>
                    </tbody>

                {% endfor %}

                </table>
            </div>

        {% endif %}
    
    {% endif %}

    {% endif %}

{% endblock %}