{% extends 'base.html.twig' %}

{% block title %} New Trening {% endblock %}

{% block body %}
    <br>
    <h1>New Trening</h1>
    <p>W tym miejscu możesz ustawić ćwiczenia</p>
    {{ form_start(form) }}

    <h3>Name</h3>
        {{ form_row(form.name) }}
    <br><br>
        <h3>Exercises</h3>
        <br>
    <ul id="exercise-fields-list"
        data-prototype="{{ form_widget(form.exercises.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ form.exercises|length }}">

    {% for exerciseField in form.exercises %}
        <li>
            {{ form_errors(exerciseField) }}
            {{ form_widget(exerciseField) }}
        </li>
    {% endfor %}
    </ul>

    <button type="button"
        class="add-another-collection-widget btn btn-primary"
        data-list-selector="#exercise-fields-list">
        Add another exercise
    </button>

    <br><br><br><br>

    {{ form_row(form.save) }}

    {{ form_end(form) }}
    
    <br>
    <a class="btn btn-danger" href="{{ path('app_homepage') }}">Cancel</a>
{% endblock %}

{% block javascripts %}
    <script src="/js/add-collection-widget.js"></script>
{% endblock %}