{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}

    <br><br>
    {% if previous == 1 %}
    <h3>Your progres(current week)</h3>
    {% elseif previous == 2 %}
    <h3>Your progres(one week ago)</h3>
    {% elseif previous > 2 %}
    <h3>Your progres( {{ previous - 1 }} weeks ago)</h3>
    {% endif %}

    <br>

    <div class="changeweek">
        {% if previous == 1 %}
        <a class="btn btn-info" href="/login/{}/progres/{{ previous }}">Previous week > </a>
        {% else %}
        <a class="btn btn-info" href="/login/{}/progres/{{ forward }}"> < Forward</a>
        <a class="btn btn-info" href="/login/{}/progres/{{ previous }}">Previous week > </a>
        {% endif %}
    </div>

    <br><br><br>



    {% for items in workouts %}
    {% if items == true %}

        <div class="progres">
                <h4>{{ items.0.day }} | {{ items.0.date|date("Y-m-d") }} </h4>
            <table id="workout_friday" class="table table-striped">
                <thead>
                    <tr>
                        <th>Exercise</th>
                        <th>Weight</th>
                        <th>Sets</th>
                        <th>Reps</th>
                        <th>Volume</th>
                    </tr>
                </thead>

                {% for workout in items %}
                <tbody>
                    <tr>
                        <td>{{ workout.exercise }}</td>
                        <td>{{ workout.weight }}</td>
                        <td>{{ workout.sets }}</td>
                        <td>{{ workout.reps }}</td>
                        <td>{{ workout.volume }}</td>
                    </tr>
                </tbody>

                {% endfor %}

            </table>

        </div>

        {% else %}

    {% endif %}

    <br>

    {% endfor %}

    
    <div class="changeweek">
        {% if previous == 1 %}
        {% else %}
        <a class="btn btn-info" href="/login/{}/progres/{{ forward }}"> < Forward</a>
        {% endif %}
        <a class="btn btn-info" href="/login/{}/progres/{{ previous }}"> Previous week > </a>
    </div>

    <br>
    <br>
    <br>
    <a class="btn btn-danger" href="{{ path('app_homepage') }}">Back</a>

{% endblock %}