{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}

    <br><br>
    <h3>Your progres</h3>

    <br><br><br>



    {% for items in workouts %}

    {% if items == true %}

        <div class="progres">
                <h4>{{ items.0.day }} | {{ items.0.date|date("Y-m-d") }} </h4>
            <table id="workout_friday" class="table table-striped">
                <thead>
                    <tr>
                        <th>Exercise</th>
                        <th>Weight</th>
                        <th>Sets</th>
                        <th>reps</th>
                    </tr>
                </thead>
                    
                {% for workout in items %}
                <tbody>
                    <tr>
                        <td>{{ workout.exercise }}</td>
                        <td>{{ workout.weight }}</td>
                        <td>{{ workout.sets }}</td>
                        <td>{{ workout.reps }}</td>
                    </tr>
                </tbody>

                {% endfor %}

            </table>

        </div>

        {% else %}

    {% endif %}

    <br><br>

    {% endfor %}

    <br>
    <a class="btn btn-danger" href="{{ path('app_homepage') }}">Back</a>

{% endblock %}