{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}

    <br><br>
    <h4>Choose how meny days earlier homepage shows workouts</h4>
    <p>Set 0 to off </p>

    <br><br><br>

    {% if message is defined %}
    
        <div class="message">

            {% if message.correct is defined %}
            
                <div class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>{{ message.correct }}</strong>
                </div>

            {% endif %}

            {% if message.error is defined %}
            
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>{{ message.error }}</strong>
                </div>
                
            {% endif %}


        </div>

    {% endif %}

    {{ form_start(form) }}

    <div class="col-md-2">
    {% if homepage is defined %}
        {{ form_row(form.daysEarlier) }}
    {% else %}
        {{ form_row(form.weightUnit) }}
    {% endif %}
    </div>
    <br><br>
        {{ form_row(form.save) }}

    {{ form_end(form) }}

    <br>
    <a class="btn btn-danger" href="{{ path('app_section_seting',{'id': idSeting }) }}">Back</a>

{% endblock %}