{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}

    <br><br>
    <h3>Homepage settings</h3>

    <br><br><br>

    <div class="subsettings">
        <table class="table table-hover">

            {% for subSeting in subSettings %}
                {% if subSeting == 'daysealier'%}
                    <tr class="table table-hover">
                        <td>
                            <form method="post" action="/settings/{{ idSeting }}/subsettings/{{ loop.index0 }}">
                                <input type="hidden" name="_method" value="put" />
                                <button type="submit" class="btn btn-link nav-link">Change how meny days earlier show workouts</button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr class="table table-hover">
                        <td>
                            <form method="post" action="/settings/{{ idSeting }}/subsettings/{{ loop.index0 }}">
                                <input type="hidden" name="_method" value="put" />
                                <button type="submit" class="btn btn-link nav-link">Change weight unit</button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

        </table>
    </div>

    <br><br>
    <a class="btn btn-danger" href="{{ path('app_settings') }}">Back</a>

{% endblock %}